 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5{
    font-size: 15px;
}

body {
    overflow-x: hidden;
    font-family: 'Fredericka the Great', cursive;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
.landing {
    position: relative;
    text-align: center;
    color: #ffff;
    font-size: 20px;
}
.background{
    background-image: url("/h_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20%
}

.hero-section {
    background-image: url("/images/assets/backgrounds/h_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

.section-content {
    padding: 50% 0 50% 0;
    text-align: center;
}

.main-title {
    font-family: Musicals;
}

.sub-title {
    font-family: Jazz;
}

html {
    scroll-behavior: smooth;
}

@media(min-width:768px) {
    .section-content {
        padding: 10% 0 10% 0;
    }
}

@media(width:640px) {
    .section-content {
        padding: 20% 0 20% 0;
    }
}

.services {
    background-image: url("/images/assets/backgrounds/s_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    color: rgb(241, 209, 209);
    height: 100vh;
}

.service-icon {
    height: 12vh;
    width: auto;
}

.overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100vh;
    margin: -15% 0 0 0;
}

.about-section {
    color: rgb(15, 14, 12);
}

.section-overlay {
    position: relative;
    ;
}

.portfolio-section {
    transform: scale(3);
    margin: 120vh 0 0 0;
}

@media(min-width:768px) {
    .portfolio-section {
        margin: 50vh 0 0 0;
    }
}

@media(width:640px) {
    .portfolio-section {
        margin: 10vh 0 0 0;
    }
}


.row {
    padding: 5%;
}

.sub-section-content {
    position: relative;
    padding: 15% 0 10% 0;
    text-align: center;
}

@media(min-width:768px) {

    .services {
        height: 40vh;
    }

    .overlay {
        height: 40vh;
        margin: -5% 0 0 0;
    }


    .sub-section-content {
        padding: 5% 0 2% 0;
    }
}

@media(width:640px) {
    .sub-section-content {
        padding: 10% 0 5% 0;
    }

    .service-icon {
        height: 21vh;
    }

    .overlay {
        margin: -10% 0 0 0;
    }
}

@media(width:1024px) and (height:600px) {
    .services {
        height: 60vh;
    }

    .overlay {
        height: 60vh;
    }
}

@media(width:600px) {
    .portfolio-section {
        margin: 10vh 0 0 0;
    }
}

.section-title {
    padding: 7vh 0 3vh 0;
}


.service-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 21% 0 0 0;
    border: none;
}

.card-text {
    font-family: 'Langar', cursive;
}

.card,
.col-sm-3 {
    transition: .2s linear 0s;
}

.card:hover,
.card:active,
.col-sm-3:hover,
.col-sm-3:active {
    transform: scale(1.1);
    cursor: pointer;
}

.description-btn,
#validate {
    background-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.col-sm-3:hover,
.col-sm-3:active {
    transform: scale(1.05);
    cursor: pointer;
}

.portfolio-item-overlay {
    position: relative;
    top: -50%;
    background-color: rgba(255, 255, 255, 0.623);
    z-index: 99;
    height: 42vh;
    width: auto;
    margin: 0;
    padding: 0;
    border: 5px solid rgb(255, 136, 0);
}

.img-fluid {
    z-index: 9;
}

.project-name {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.img-selected {
    margin-top: -10vh;
}

.img-unselected {
    margin-bottom: 10vh;
}

@media(width:640px) {
    .portfolio-item-overlay {
        height: 20vh;
        border: 2px solid rgb(255, 255, 255);
    }
}


@media(min-width:768px) {
    .service-icons {
        flex-direction: row;
    }

    .card {
        margin: 0 5% 0 5%;
    }

    .portfolio-item-overlay {
        height: 20vh;
    }
}

@media(width:768px) {
    .portfolio-item-overlay {
        height: 10vh;
    }
}

@media(width:800px) {
    .portfolio-item-overlay {
        height: 10vh;
    }
}

@media(width:1024px) {
    .portfolio-item-overlay {
        height: 10vh;
    }
}

@media(width:600px) {
    .portfolio-item-overlay {
        height: 10vh;
    }
}

.show {
    animation: grow .5s linear;
    transition: .5s linear 0s;
}



.contact {
    height: 100vh;
    margin: 15% 0 0 0;
}.contact,
input,
textarea {
    background-image: url("/images/assets/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255) !important;
}

.contact-form {
    margin: 0 10% 0 10%;
}

::placeholder {
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
}

.contact-overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100vh;
    margin: -15% 0 0 0;
}

textarea {
    height: 30vh;
    margin: 40% 0 0 0;
}

.submit-btn {
    margin: 2% 0 0 0;
}

.submit-appear {
    position: relative;
    left: 40%;
    animation: grow .7s linear infinite;
    transition: .7s linear 0s;
}

#resubmit {
    color: rgb(255, 136, 0);
    cursor: pointer;
    font-family: Musicals;
    margin: 50% 0 0 0;
    transform: scale(2);
    animation: growtxt 1s linear infinite;
    transition: 1s linear 0s;
}

@media(max-width:280px) {
    .contact {
        height: 140vh;
    }

    .contact-overlay {
        height: 140vh;
    }

}

@media(min-width:768px) {
    .contact {
        height: 100vh;
    }

    .contact-overlay {
        height: 100vh;
        margin: -5% 0 0 0;
    }

    textarea {
        margin: 7% 0 0 0;
    }

    #resubmit {
        margin: 20% 0 0 0;
    }

    .submit-appear {
        left: 50%;
    }
}

@media(width:640px) {
    .contact-overlay {
        margin: -10% 0 0 0;
    }

    textarea {
        margin: 2% 0 0 0;
    }

    #resubmit {
        margin: 15% 0 0 0;
    }

    .submit-appear {
        left: 45%;
    }
}


@media(width:768px) {
    .contact {
        height: 80vh;
    }

    .contact-overlay {
        height: 80vh;
    }
}


@media(width:800px) {
    .contact {
        height: 70vh;
    }

    .contact-overlay {
        height: 70vh;
    }
}


@media(width:1024px) {
    .contact {
        height: 90vh;
    }

    .contact-overlay {
        height: 90vh;
    }
}

@media(width:1024px) and (height:600px) {
    .contact {
        height: 100vh;
    }

    .contact-overlay {
        height: 100vh;
    }
}

.social-section {
    color: rgb(0, 0, 0);
    height: 50vh;
    margin: 0 0 0 0;
}

.social-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    border: none;
    transition: .2s linear 0s;
}

.social-icon:hover,
.social-icon:active {
    cursor: pointer;
    transform: scale(1.1);
}


.fdL {
    opacity: 0;
    margin-left: -100%;
}

.fdalt {
    opacity: 1;
    margin-left: 5%;
    transition: .7s linear 1s;
}

.footer-link {
    color: rgb(255, 136, 0);
    font-weight: 700;
}

.footer-link:hover,
.footer-link:active {
    color: rgb(255, 102, 0);
    font-weight: 900;
    transform: scale(1.1);
}

@media(width:768px) {
    .social-section {
        height: 30vh;
    }
}


@media(width:800px) {
    .social-section {
        height: 30vh;
    }
}


@media(width:1024px) {
    .social-section {
        height: 30vh;
    }
}

@media(width:1024px) and (height:600px) {
    .social-section {
        height: 50vh;
    }
}

.ripple-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
    z-index: 99999;
    background-color: rgb(255, 136, 0);
    margin: 0 0 10% 0;
}

.lds-ripple {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.preloader {
    animation: disappear 2s linear forwards;
    transition: 2s linear 0s;
}

.load-text {
    position: absolute;
    top: 65%;
    left: 25%;
    color: white;
    font-family: "Lora", serif;
    font-weight: 700;
}

@media(min-width:768px) {

    .ripple-container {
        height: 100vh;
    }

    .lds-ripple {
        left: 50%;
    }

    .load-text {
        left: 50%;
    }
}

@media(width:768px) {
    .lds-ripple {
        left: 30%;
    }

    .load-text {
        left: 30%;
    }
}

@media(width:800px) {
    .lds-ripple {
        left: 30%;
    }

    .load-text {
        left: 30%;
    }
}

@media(width:1024px) {
    .lds-ripple {
        left: 30%;
    }

    .load-text {
        left: 30%;
    }
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

@keyframes indicate {
    0% {
        top: -5%;
        opacity: 0;
    }

    50% {
        top: 10%;
        opacity: 0.7;
    }

    100% {
        top: 25%;
        opacity: 1;
    }
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgb(255, 255, 255);
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgb(255, 255, 255);
        stroke-width: 3;
    }

    100% {
        fill: rgb(255, 255, 255);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes growtxt {
    0% {
        transform: scale(2);
    }

    50% {
        transform: scale(2.1);
    }

    100% {
        transform: scale(2);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}